body{
    font-family: 'montserrat', serif;
}
.bg-dark-blue{
    background-color: #20334F;
}

.bg-orange{
    background: #fb9a2d;
}

.bg-blue{
    background-color: #365072;
}

.bg-light-grey{
    background-color: #ddd9d6;
}

.text-light-blue{
    color: #87C7EC;
}

.text-dark-blue{
    color: #20334F;
}

.text-orange{
    color: #fb9a2d;
}

.text-blue{
    color: #365072;
}



.page-top-connect .email-icon,
.page-top-connect .linkedin-icon{
    width: 25px;
    height: 20px;
}

@media only screen and (max-width: 768px) {
    /* Home-page start */
  .header{
      background-image: url('./assets/GS_Website_1_Home_RESPONSIVE_banner.png');
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
  }

  .header-content{
        padding: 120px 0 170px 0; 
    }

    .header-content-heading{
        line-height: 100%;
    }

    .with-border{
        border: 1px solid #ddd9d6;
    }

    .star-icon{
        font-size: 30px;
    }

    .section-help img{
        width: 200px;
    }

    .section-solution{
        background-image: url('./assets/GS_Website_1_Home_motherboard_banner.png');
    }

    .section-contact{
        background-image: url('./assets/GS_Website_1_Home_Want_to_work_better_banner.png');
    }

    .footer .email-icon{
        width: 25px;
    }
    /* Home-page start */

    /* What we do page start*/
    .whatwedo-header{
        background-image: url('./assets/GS_Website_1_WhatWeDo_RESPONSIVE_banner.png');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .software-icon{
        width: 50%;
    }
    
    .btn-book-call{
        width: 100%;
    }
    /* What we do page end*/

    /* why us page start */
    .whyus-header{
        background-image: url('./assets/GS_Website_3_WhyUs_RESPONSIVE_banner.png');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    /* why us page end */

     /* About page start  */

    .about-header{
        background-image: url('./assets/GS_Website_3_OurBackground_RESPONSIVE_banner.png');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    /* About page end */
     /* Team page start  */
     .team-header{
         background-image: url('./assets/GS_Website_3_SeniorTeam_RESPONSIVE_banner.png');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
     }
    /* Team page end */
}

@media screen and (min-width: 789px){
    /* Home-page start */
    .header{
        background-image: url('./assets/GS_Website_1_Home_banner.png');
    }

    .header-content{
        padding: 150px 0 200px 0; 
    }
    .header-content-heading{
        line-height: 100%;
    }

    .with-border{
        border: 1px solid #ddd9d6;
    }

    .star-icon{
        width: 30px;
        height: 30px;
    }

    .section-help img{
        width: 200px;
    }

    .section-solution{
        background-image: url('./assets/GS_Website_1_Home_motherboard_banner.png');
    }

    .section-contact{
        background-image: url('./assets/GS_Website_1_Home_Want_to_work_better_banner.png');
    }

    .footer .email-icon{
        width: 25px;
    }

    /* Home page end  */

    /* What we do page start*/
    .whatwedo-header{
        background-image: url('./assets/GS_Website_2_WhatWeDo_banner.png');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    
    .software-icon{
        width: 250px;
        height: 250px;

    }
    /* What we do page end*/

    /* About page start  */

    .about-header{
        background-image: url('./assets/GS_Website_3_OurBackground_banner.png');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    /* About page end */

    /* Team page start  */
    .team-header{
        background-image: url('./assets/GS_Website_3_SeniorTeam_banner.png');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
     }

     .card-image-top-over{
        opacity: 0.1;
        background: white;
        width: 100%;
        height: 517px;
     }

     .card-image-top:hover{
         
     }
    /* Team page end */

    /* why us page start */
    .whyus-header{
        background-image: url('./assets/GS_Website_3_WhyUs_banner.png');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    /* why us page end */

}












