body{
    font-family: 'Montserrat', sans-serif;
}
.bg-dark-blue{
    background-color: #20334F;
}

.bg-orange{
    background: #fb9a2d;
}

.bg-blue{
    background-color: #365072;
}

.bg-light-grey{
    background-color: #E5E2DF;
}

.bg-light-blue{
    background-color: #87C7EC;
}

.text-light-blue{
    color: #87C7EC;
}

.text-dark-blue{
    color: #20334F;
}

.text-orange{
    color: #fb9a2d;
}

.text-blue{
    color: #365072;
}

.border-grey{
    border: 1px solid #ddd9d6;
}

.border-blue{
    border: 1px solid #243F60;
}

.btn, .nav-link{
    font-size: 17px;
}

p, a{
    font-size: 22px;
    font-weight: 500;
}




.header-content-btn{
    width: 197px;
    height: 57px;
}


.page-top-connect .email-icon,
.page-top-connect .linkedin-icon{
    width: 25px;
    height: 20px;
}

.page-top p, 
.page-top-social a{
    font-size: 14px;
    line-height: 100%;
}


.page-top-social .email-icon,
.page-top-social .linkedin-icon{
    width: 22px;
}

.page-top-social .email-icon {
    height: 16px;
}
.page-top-social .linkedin-icon {
    height: 22px;
}

.section-legal p{
    font-size: 20px;
    font-weight: 400;
}

.email-icon{
    width: 25px;
}



.home-header,
.whatwedo-header,
.career-header,
.about-header,
.contact-header, 
.whyus-header,
.team-header,
.section-highlighted,
.section-call-to-action{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.whatwedo-header p,
.about-header p,
.career-header p,
.whyus-header p,
.team-header p{
    font-size: 20px;
}

.vacancie-card-1{
    margin-top: 47px;
}

.vacancie-card-1, 
.vacancie-card-2{
    border-top: 2px solid #87C7EC;
}


.btn-view-detail{
    font-size: 20px;
    padding: 14px 24px;
}


.contact-page-form input{
    height: 96px;
}

.section-footer a, 
.section-footer p{
    font-weight: 400;
    font-size: 22px;
    line-height: 100%;
}




@media screen and ( max-width: 768px) {
    .logo{
        width: 330px;
    }

    /* Home-page start */
    .home-header{
        background-image: url('./assets/GS_Website_1_Home_RESPONSIVE_banner.png');
    }

    .home-header .header-content{
        padding: 50px 0 110px 0; 
    }

    .home-header h1{
        font-size: 45px;
    }
    .home-header h5{
        font-size: 21px;
    }

     .section-basic{
        padding-top: 44px;
        padding-bottom: 64px;
    }
    .section-basic h4{
        font-size: 23px;
    }

    .section-feedback{
        padding-top: 60px;
        padding-bottom: 40px; 
    }

    .section-feedback-heading h2{
        font-size: 25px;
    }
    
    .section-feedback .left-quote,
    .section-feedback .right-quote{
        font-family: 'Passion One', cursive;
    }
    .star-icon{
        width: 45px;
        height: 45px;
    }
    .star-icon-half{
        height: 45px;
        width: 25px;
    }
    
    .section-inverted-basic{
        padding-top: 40px;
        padding-bottom: 60px;
    }
    .section-icons-list{
        padding-top: 58px;
        padding-bottom: 53px;
    }
    .section-icons-list img{
        width: 220px;
    }
    .section-icons-list-title{
        font-size: 29px;
    }
    .section-icon-list-heading{
        font-size: 22px;
    }
    .section-solution{
        background-color: #365072;
        padding-top: 49px;
        padding-bottom: 107px;
    }
    .section-contact{
        padding-top: 45px;
        padding-bottom: 60px;
    }
    
    .section-highlighted{
        background-color: #365072;
        padding-top: 40px;
        padding-bottom: 60px;
    }
    .section-call-to-action{
        background-image: url('./assets/section-contact.png');
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .section-basic h2,
    .section-basic h3,
    .section-inverted-basic h2,
    .section-inverted-basic h3,
    .section-highlighted h2{
        font-size: 29px;
    }


    .section-footer, 
    .section-legal{
        padding-bottom: 100px;
    }

    .section-footer a{
        margin-bottom: 7px;
    }

    .section-footer .phone-link,
    .section-footer .email-link{
        margin-bottom: 37px;
    } 

    .section-legal link{
        border: none !important;
    }
    /* Home page end  */


    /* What we do page start*/
    .whatwedo-header{
        background-image: url('./assets/GS_Website_1_WhatWeDo_RESPONSIVE_banner.png');
    }

    .whatwedo-header .header-content{
        padding: 40px 0 204px 0;
    }

    .software-icon{
        width: 170px;
    }
    
    .btn-book-call{
        width: 100%;
        height: 75px;
        font-size: 20px;
    }

     .section-icons-card{
        padding-top: 72px;
        padding-bottom: 54px;
    }

   

    /* What we do page end*/

    

     /* About page start  */
    .about-header{
        background-image: url('./assets/GS_Website_3_OurBackground_RESPONSIVE_banner.png');
    }

    .about-header .header-content{
        padding: 40px 0 176px 0;
    }

    /* About page end */

    /* Career page start  */
    .career-header{
        background-image: url('./assets/GS_Website_4_Careers_RESPONSIVE_banner.png');
    }

    .career-header .header-content{
        padding: 50px 0 197px 0;
    }

    .whatwedo-header h2,
    .about-header h2,
    .career-header h2,
    .whyus-header h2,
    .team-header h2{
        font-size: 37px;
    }

    .whatwedo-header p,
    .about-header p,
    .career-header p,
    .whyus-header p,
    .team-header p{
        font-size: 20px;
    }

    .section-split{
        padding-top: 88px;
        padding-bottom: 54px;
    }

    
    .section-split h2.text-blue{
        font-size: 34px;
    }
    .section-contact h3.text-blue,
    .section-split h3.text-blue{
        font-size: 23px;
    }
    
    .card-img-top{
        height: 290px;
    }

    .card-img-top .video{
        height: 100%;
    }

    /* Career page end */

    /* Contact Page start  */
    .contact-header{
        background-image: url('./assets/GS_Website_5_ContactUs_banner.png');
    }

    .contact-header .header-content{
        padding: 17px 0 70px 0;
    }

    .section-contact-form{
        padding: 48px 0 52px 0;
    }

    .section-contact-form input.form-control{
        height: 96px;
    }

    .btn-submit{
        width: 100%;
        height: 96px;
        font-size: 25px;
        margin-top: 48px;
    }
    /* Contact Page end */

    /* why us page start */
    .whyus-header{
        background-image: url('./assets/GS_Website_3_WhyUs_RESPONSIVE_banner.png');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .whyus-header .header-content{
        padding-bottom: 217px;
    }

    .whyus-section-main{
        padding: 60px 0;
    }
    /* why us page end */
     /* Team page start  */
     .team-header{
        background-image: url('./assets/GS_Website_3_SeniorTeam_RESPONSIVE_banner.png');
     }

     .team-header .header-content{
        padding: 15px 0 50px 0;
    }

    .section-team-images{
        padding-top: 44px;
    }

    .team-card .card-top{
        height: 300px;
        position: relative;
    }

    .team-card .card-body{
        background-color: #D5D0CC;
    }

    .team-card .card-top-img{
        z-index: 1;
        /* position: relative; */
    }

    .team-card .card-top-overlay{
        display: none;
    }
    /* Team page end */

    
}

@media screen and ( max-width: 480px) {
    .logo{
        width: 230px;
    }
}


@media screen and (min-width: 769px){
    .logo{
         width: 385px;
     }

    .whatwedo-header h2,
    .about-header h2,
    .career-header h2,
    .whyus-header h2,
    .team-header h2{
        font-size: 34px;
    }

    
     
    /* Home-page start */

    .home-header{
        background-image: url('./assets/GS_Website_1_Home_banner.png');
    }

    .home-header .header-content{
        padding: 66px 0 229px 0; 
    }

    .section-basic{
        padding-top: 85px;
        padding-bottom: 50px;
    }

    .section-basic h3,
    .section-inverted-basic h3{
        font-size: 34px;
    }

    .section-feedback{
        padding-top: 85px;
        padding-bottom: 95px; 
    } 

    .section-feedback .left-quote,
    .section-feedback .right-quote{
        font-family: 'Passion One', cursive;
    }

    .section-feedback .left-quote{
        margin-top: 2.5rem;
        font-size: 9rem;
        line-height: 20%;
    }

    .star-icon{
        width: 65px;
        height: 65px;
    }

    .star-icon-half{
        height: 65px;
        width: 35px;
    }

    .section-inverted-basic{
        padding-top: 95px;
        padding-bottom: 60px;
    }

    .btn-whyus{
        font-size: 20px;
    }

    .section-icons-list{
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .section-icons-list img{
        width: 250px;
    }

    .section-icons-list-title{
        font-size: 40px;
    }

    .section-icon-list-heading{
        font-size: 34px;
    }

    .section-highlighted{
        padding-top: 85px;
        padding-bottom: 85px;
        background-image: url('./assets/GS_Website_1_Home_motherboard_banner.png');
    }

    .section-highlighted h3{
        font-size: 34px;
    }

    .section-call-to-action{
        padding-top: 95px;
        padding-bottom: 95px;
        background-image: url('./assets/GS_Website_1_Home_Want_to_work_better_banner.png')
    }

    .section-footer a{
        margin-bottom: 32px;
    }

    .section-footer .phone-link,
    .section-footer .email-link{
        margin-bottom: 37px;
    } 

    .section-legal .link{
        border-right: 2px solid white;
    }

    /* Home page end  */

    /* What we do page start*/
    .whatwedo-header{
        background-image: url('./assets/GS_Website_2_WhatWeDo_banner.png');
    }

    .whatwedo-header .header-content{
        padding: 50px 0 158px 0;
    }



    .section-icons .card{
        height: 410px;
    }

    .section-icons .card-img-top{
        width: 80%;
        margin: 35px auto 0 auto;
        height: 250px;
    }

    .section-icons .card-img-top-sytems{
        width: 85%;
        margin: 35px auto 0 auto;
        height: 250px;
    }
    
    .software-icon{
        width: 267px;
        height: 268px;
    }
    .btn-book-call{
        width: 290px;
        height: 75px;
        font-size: 20px;
    }

    /* What we do page end*/

    /* About page start  */

    .about-header{
        background-image: url('./assets/GS_Website_3_OurBackground_banner.png');
    }

    .about-header .header-content{
        padding: 60px 0 186px 0;
    }
    /* About page end */

    /* Career page start  */
    .career-header{
        background-image: url('./assets/career-header.png');
    }

    .career-header .header-content{
        padding: 90px 0 156px 0;
    }

    .section-split h2.text-orange,
    .section-split h3.text-blue,
    .section-contact-form h3.text-blue,
    .section-split h2.text-blue{
        font-size: 34px;
    }

    .vacancie-card-1{
        margin-top: 47px;
    }


    .career-card .card-img-top{
        height: 350px;
    }

    .career-card .video{
        height: 100%;
    }


    
    /* Career page end */

    /* Contact Page start  */
    .contact-header{
        background-image: url('./assets/GS_Website_5_ContactUs_banner.png');
    }

    .section-contact-form{
        padding: 90px 0 80px 0;
    }

    .section-contact-form input.form-control{
        height: 96px;
    }
    .section-contact-form .btn-submit{
        width: 316px;
        height: 96px;
        font-size: 25px;
    }
    /* Contact Page end */

    /* Team page start  */
    .team-header{
        background-image: url('./assets/GS_Website_3_SeniorTeam_banner.png');
    }

    .team-header .header-content{
        padding: 52px 0 118px 0;
    }

    .section-team-images{
        padding-top: 90px;
    }

    .team-card .card-top{
        height: 410px;
        position: relative;
    }

    .team-card .card-top-img{
        z-index: 1;
        position: relative;
    }

    .team-card .card-top-overlay{
        top: 0;
        z-index: 19;
        width: 100%;
        height: 100%;
        display: none;
    }

    .team-card .card-top-overlay p{
        bottom: 10px;
        left: 20px;
        right: 20px;
        z-index: 20;
    }

    .card-top:hover .card-top-overlay{
        display: block;
    }
    /* Team page end */

    /* why us page start */
    .whyus-header{
        background-image: url('./assets/GS_Website_3_WhyUs_banner.png');
    }

    .whyus-header .header-content{
        padding-bottom: 147px;
    }

    .section-split{
        padding: 99px 0 151px 0;
    }

    .img-quote{
        width: 20%;
    }
    /* why us page end */

}
